.auth-layout {
    /* radius system */
  --radius: 0.625rem;

  /* site palette */
  --background: #F1F1F1;
  --foreground: #1f1f1f; /* Text Color */
  --secondary-foreground: #183647; /* Secondary Text Color */
  --primary: #f1f1f1; /* Primary Color */
  --secondary: #5586d6; /* Secondary Color */

  /* Navbar */
  --navbar-bg: #5586d6; /* Navigation Bar Color */
  --navbar-text: #ffffff; /* Navigation Bar Text Color */

  /* Notification / Icons */
  --notification-icon: #183647;

  /* Card / Surface */
  --card: #e9eaf0;
  --card-foreground: #1f1f1f;

  /* Accent / Muted / Border */
  --accent: #eaeaea;
  --accent-foreground: #183647;
  --muted: #f5f5f5;
  --muted-foreground: #ababab;
  --border: #565656;
  --input: #565656;
  --ring: #a0aec0;
}